<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>posimarker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>posimarker:ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>posimarker:mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5236AC6318659F89008DA096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5236ACD01865A05F008DA096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41D66E1865658D001FAC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC41D68F1865658D001FAC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
